{% extends 'base.html' %}

{% block title %} Login come Lettore{% endblock %} 

{% block header1 %}
  <h1>Pagina di Login</h1>
  <p>Si prega di compilare i campi necessari</p> 
{% endblock %}

{% block content %} 

{% if "notok" in request.GET.auth %}
<div class="alert alert-danger" role="alert">
  Si è arrivati qui in quanto non si dispone dei permessi necessari per il servizio scelto!
</div>
{% endif %}

<form method="post"> {% csrf_token %}
  {{form.as_table}}
  <button type="submit" class="btn btn-primary">Login</button>
{% endblock %}

{% block footer %} {% endblock %}