{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block title %} Customer Login {% endblock %} 

{% block header %}
  <h1>Pagina di Login</h1>
  <p>Si prega di compilare i campi necessari</p> 
{% endblock %}

{% block content %} 

{% if "notok" in request.GET.auth %}
<div class="alert alert-danger" role="alert">
  Si è arrivati qui in quanto non si dispone dei permessi necessari per il servizio scelto!
</div>
{% endif %}

<form method="post"> {% csrf_token %}
  {{form.as_p}}
  <button type="submit" class="btn btn-primary">Login</button>
{% endblock %}

{% block footer %} {% endblock %}