{% load static %}
<div class="card mb-4 shadow-sm">
  {% if artwork.Photos.first %}
    <img src="{{ artwork.Photos.first.file.url }}" class="card-img-top" alt="{{ artwork.name }}" />
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ artwork.name }}</h5>
    <p class="card-text">Artist: {{ artwork.artist.name }} {{ artwork.artist.surname }}</p>
    <p class="card-text">Category: {{ artwork.category.name }}</p>
    <p class="card-text">Current Price: €{{ artwork.price }}</p>
    <div class="card-text">
      Ends in: <span class="countdown" data-auction-end="{{ artwork.auction_end|date:'Y-m-d H:i:s' }}"></span>
    </div>
    <a href="{% url 'app:artworkdetail' artwork.pk %}" class="btn btn-primary">View Details</a>
    {% block other_content %}

    {% endblock %}
  </div>
</div>
<script src="{% static 'js/countdown.js' %}"></script>
