<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% comment %}TODO: remove commented code if not needed{% endcomment %}
    {% comment %} {% block head %}

    {% endblock %} {% endcomment %}
    <style>
      .carousel-control-prev,
      .carousel-control-next {
        width: 5%;
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 50%;
      }
      .carousel-item img {
        height: 500px; /* Set a fixed height for all images */
        object-fit: contain; /* Ensures images cover the area while maintaining aspect ratio */
        width: 100%;
      }
    </style>
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <div class="container">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/members">MEMBERS</a>
        </li>
      </ul>

      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
