<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
      .carousel-control-prev,
      .carousel-control-next {
        width: 5%;
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 50%;
      }
      .carousel-item img {
        height: 500px; /* Set a fixed height for all images */
        object-fit: contain; /* Ensures images cover the area while maintaining aspect ratio */
        width: 100%;
      }
    </style>
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <div class="container">
      <ul class="nav bg-info justify-content-between">
        <div>
          <li class="nav-item">
            <a class="nav-link link-light" href="/">HOME</a>
          </li>
        </div>
        <div>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle link-light" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                {% comment %} <li>
                  <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                </li> {% endcomment %}
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'app:customer_profile' %}">Profile</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link link-light" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </div>
      </ul>

      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
