{% extends 'base.html' %}

{% block title %}
  Artwork detail
{% endblock %}

{% block content %}
  <h1>Artwork Detail</h1>
  {{ object.name }}
  {{ object.artist }}

  {% comment %}menu for placing bids{% endcomment %}
  <div id="artworkCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for photo in photos %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ photo.get_static_path }}" class="d-block w-100" alt="..." />
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#artworkCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#artworkCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {% comment %}list of messages{% endcomment %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}
          
          alert-{{ message.tags }}
        {% endif %}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  {% comment %}menu for placing bids{% endcomment %}
  <form action="{% url 'app:placebid' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="artwork_id" value="{{ artwork.id }}" />
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3"><strong>${{ artwork.price }}</strong></span>
      </div>
      <input type="number" id="typeNumber" class="form-control" name="amount" min="{{ view.price|add:1 }}" />
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Place Bid</button>
      </div>
    </div>
  </form>

  <h2>Recommended Artworks</h2>
  <div class="row">
    {% for rec_artwork in recommended_artworks %}
      <div class="col-md-2">
        <div class="card mb-2">
          <img src="{{ rec_artwork.Photos.first.get_static_path }}" class="card-img-top" alt="{{ rec_artwork.name }}" />
          <div class="card-body">
            <h5 class="card-title">{{ rec_artwork.name }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

<br />
