{% extends 'base.html' %}


{% block title %}
  {{ seller_name }}'s Auctioning Artworks
{% endblock %}


{% block content %}
  <h1>{{ seller_name }} Artwork List</h1>

  <br />

  {% for art in object_list %}
    <br />
    <a href="{% url "app:artworkdetail" art.pk %}">
      <div class="card">
        <div class="card-header">{{ art.name }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ art.artist }}</h5>
          <p class="card-text">{{ art }}</p>
          {% if art.available %}
            <p style="color: green">DISPONIBILE</p>
          {% else %}
            <p style="color: red">NON DISPONIBILE</p>
          {% endif %}
        </div>
      </div>
    </a>
    <br />
  {% endfor %}
{% endblock %}
<br />
