{% extends 'base.html' %}

{% block title %}
  Profile - {{ customer.user.username }}
{% endblock %}

{% block content %}
  <h1>{{ customer.user.username }}'s Profile</h1>

  <h2>Bidded Artworks</h2>
  <div class="row">
    {% for item in bidded_artworks %}
      <div class="col-md-3">
        {% with artwork=item.artwork customer_bid=item.customer_bid is_winning=item.is_winning %}
          {% include 'app/partials/artwork_card_customer.html' %}
        {% endwith %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
